/* fonts */
@font-face {
  font-family: "Roboto-regular";
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-light";
  src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-bold";
  src: url("../../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../../styles/icons/material-design-icons/iconfont/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../../styles/icons/material-design-icons/iconfont/MaterialIcons-Regular.woff2") format("woff2"), url("../../styles/icons/material-design-icons/iconfont/MaterialIcons-Regular.woff") format("woff"), url("../../styles/icons/material-design-icons/iconfont/MaterialIcons-Regular.ttf") format("truetype");
}
/* css reset */
body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p, button,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, input, select, textarea
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: "Roboto-regular", Helvetica Neue, Helvetica, Arial;
  vertical-align: baseline;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  /*
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  */
}
body loader, h1 loader, h2 loader, h3 loader, h4 loader, h5 loader, h6 loader, article loader, aside loader, details loader, figcaption loader, figure loader, footer loader, header loader, menu loader, nav loader, section loader, summary loader, blockquote loader, q loader, th loader, td loader, caption loader, table loader,
div loader, span loader, object loader, iframe loader, p loader, button loader,
pre loader, a loader, abbr loader, acronym loader, address loader,
code loader, del loader, dfn loader, em loader, img loader,
dl loader, dt loader, dd loader, ol loader, ul loader, li loader, fieldset loader,
form loader, label loader, legend loader, input loader, select loader, textarea
caption loader, tbody loader, tfoot loader, thead loader, tr loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}
body img.bg, h1 img.bg, h2 img.bg, h3 img.bg, h4 img.bg, h5 img.bg, h6 img.bg, article img.bg, aside img.bg, details img.bg, figcaption img.bg, figure img.bg, footer img.bg, header img.bg, menu img.bg, nav img.bg, section img.bg, summary img.bg, blockquote img.bg, q img.bg, th img.bg, td img.bg, caption img.bg, table img.bg,
div img.bg, span img.bg, object img.bg, iframe img.bg, p img.bg, button img.bg,
pre img.bg, a img.bg, abbr img.bg, acronym img.bg, address img.bg,
code img.bg, del img.bg, dfn img.bg, em img.bg, img img.bg,
dl img.bg, dt img.bg, dd img.bg, ol img.bg, ul img.bg, li img.bg, fieldset img.bg,
form img.bg, label img.bg, legend img.bg, input img.bg, select img.bg, textarea
caption img.bg, tbody img.bg, tfoot img.bg, thead img.bg, tr img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary, blockquote, q, th, td, caption, table,
  div, span, object, iframe, p, button,
  pre, a, abbr, acronym, address,
  code, del, dfn, em, img,
  dl, dt, dd, ol, ul, li, fieldset,
  form, label, legend, input, select, textarea
  caption, tbody, tfoot, thead, tr {
    /* Specific to this particular image */
  }
  body img.bg, h1 img.bg, h2 img.bg, h3 img.bg, h4 img.bg, h5 img.bg, h6 img.bg, article img.bg, aside img.bg, details img.bg, figcaption img.bg, figure img.bg, footer img.bg, header img.bg, menu img.bg, nav img.bg, section img.bg, summary img.bg, blockquote img.bg, q img.bg, th img.bg, td img.bg, caption img.bg, table img.bg,
  div img.bg, span img.bg, object img.bg, iframe img.bg, p img.bg, button img.bg,
  pre img.bg, a img.bg, abbr img.bg, acronym img.bg, address img.bg,
  code img.bg, del img.bg, dfn img.bg, em img.bg, img img.bg,
  dl img.bg, dt img.bg, dd img.bg, ol img.bg, ul img.bg, li img.bg, fieldset img.bg,
  form img.bg, label img.bg, legend img.bg, input img.bg, select img.bg, textarea
  caption img.bg, tbody img.bg, tfoot img.bg, thead img.bg, tr img.bg {
    left: 50%;
    margin-left: -512px;
    /* 50% */
  }
}
body .modal, h1 .modal, h2 .modal, h3 .modal, h4 .modal, h5 .modal, h6 .modal, article .modal, aside .modal, details .modal, figcaption .modal, figure .modal, footer .modal, header .modal, menu .modal, nav .modal, section .modal, summary .modal, blockquote .modal, q .modal, th .modal, td .modal, caption .modal, table .modal,
div .modal, span .modal, object .modal, iframe .modal, p .modal, button .modal,
pre .modal, a .modal, abbr .modal, acronym .modal, address .modal,
code .modal, del .modal, dfn .modal, em .modal, img .modal,
dl .modal, dt .modal, dd .modal, ol .modal, ul .modal, li .modal, fieldset .modal,
form .modal, label .modal, legend .modal, input .modal, select .modal, textarea
caption .modal, tbody .modal, tfoot .modal, thead .modal, tr .modal {
  text-align: center;
  padding: 0 !important;
}
body .modal:before, h1 .modal:before, h2 .modal:before, h3 .modal:before, h4 .modal:before, h5 .modal:before, h6 .modal:before, article .modal:before, aside .modal:before, details .modal:before, figcaption .modal:before, figure .modal:before, footer .modal:before, header .modal:before, menu .modal:before, nav .modal:before, section .modal:before, summary .modal:before, blockquote .modal:before, q .modal:before, th .modal:before, td .modal:before, caption .modal:before, table .modal:before,
div .modal:before, span .modal:before, object .modal:before, iframe .modal:before, p .modal:before, button .modal:before,
pre .modal:before, a .modal:before, abbr .modal:before, acronym .modal:before, address .modal:before,
code .modal:before, del .modal:before, dfn .modal:before, em .modal:before, img .modal:before,
dl .modal:before, dt .modal:before, dd .modal:before, ol .modal:before, ul .modal:before, li .modal:before, fieldset .modal:before,
form .modal:before, label .modal:before, legend .modal:before, input .modal:before, select .modal:before, textarea
caption .modal:before, tbody .modal:before, tfoot .modal:before, thead .modal:before, tr .modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
body .modal-dialog, h1 .modal-dialog, h2 .modal-dialog, h3 .modal-dialog, h4 .modal-dialog, h5 .modal-dialog, h6 .modal-dialog, article .modal-dialog, aside .modal-dialog, details .modal-dialog, figcaption .modal-dialog, figure .modal-dialog, footer .modal-dialog, header .modal-dialog, menu .modal-dialog, nav .modal-dialog, section .modal-dialog, summary .modal-dialog, blockquote .modal-dialog, q .modal-dialog, th .modal-dialog, td .modal-dialog, caption .modal-dialog, table .modal-dialog,
div .modal-dialog, span .modal-dialog, object .modal-dialog, iframe .modal-dialog, p .modal-dialog, button .modal-dialog,
pre .modal-dialog, a .modal-dialog, abbr .modal-dialog, acronym .modal-dialog, address .modal-dialog,
code .modal-dialog, del .modal-dialog, dfn .modal-dialog, em .modal-dialog, img .modal-dialog,
dl .modal-dialog, dt .modal-dialog, dd .modal-dialog, ol .modal-dialog, ul .modal-dialog, li .modal-dialog, fieldset .modal-dialog,
form .modal-dialog, label .modal-dialog, legend .modal-dialog, input .modal-dialog, select .modal-dialog, textarea
caption .modal-dialog, tbody .modal-dialog, tfoot .modal-dialog, thead .modal-dialog, tr .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
body .container, h1 .container, h2 .container, h3 .container, h4 .container, h5 .container, h6 .container, article .container, aside .container, details .container, figcaption .container, figure .container, footer .container, header .container, menu .container, nav .container, section .container, summary .container, blockquote .container, q .container, th .container, td .container, caption .container, table .container,
div .container, span .container, object .container, iframe .container, p .container, button .container,
pre .container, a .container, abbr .container, acronym .container, address .container,
code .container, del .container, dfn .container, em .container, img .container,
dl .container, dt .container, dd .container, ol .container, ul .container, li .container, fieldset .container,
form .container, label .container, legend .container, input .container, select .container, textarea
caption .container, tbody .container, tfoot .container, thead .container, tr .container {
  padding-right: 0px;
  padding-left: 0px;
}
body .font-medium, h1 .font-medium, h2 .font-medium, h3 .font-medium, h4 .font-medium, h5 .font-medium, h6 .font-medium, article .font-medium, aside .font-medium, details .font-medium, figcaption .font-medium, figure .font-medium, footer .font-medium, header .font-medium, menu .font-medium, nav .font-medium, section .font-medium, summary .font-medium, blockquote .font-medium, q .font-medium, th .font-medium, td .font-medium, caption .font-medium, table .font-medium,
div .font-medium, span .font-medium, object .font-medium, iframe .font-medium, p .font-medium, button .font-medium,
pre .font-medium, a .font-medium, abbr .font-medium, acronym .font-medium, address .font-medium,
code .font-medium, del .font-medium, dfn .font-medium, em .font-medium, img .font-medium,
dl .font-medium, dt .font-medium, dd .font-medium, ol .font-medium, ul .font-medium, li .font-medium, fieldset .font-medium,
form .font-medium, label .font-medium, legend .font-medium, input .font-medium, select .font-medium, textarea
caption .font-medium, tbody .font-medium, tfoot .font-medium, thead .font-medium, tr .font-medium {
  font-size: medium;
}
body .font-small, h1 .font-small, h2 .font-small, h3 .font-small, h4 .font-small, h5 .font-small, h6 .font-small, article .font-small, aside .font-small, details .font-small, figcaption .font-small, figure .font-small, footer .font-small, header .font-small, menu .font-small, nav .font-small, section .font-small, summary .font-small, blockquote .font-small, q .font-small, th .font-small, td .font-small, caption .font-small, table .font-small,
div .font-small, span .font-small, object .font-small, iframe .font-small, p .font-small, button .font-small,
pre .font-small, a .font-small, abbr .font-small, acronym .font-small, address .font-small,
code .font-small, del .font-small, dfn .font-small, em .font-small, img .font-small,
dl .font-small, dt .font-small, dd .font-small, ol .font-small, ul .font-small, li .font-small, fieldset .font-small,
form .font-small, label .font-small, legend .font-small, input .font-small, select .font-small, textarea
caption .font-small, tbody .font-small, tfoot .font-small, thead .font-small, tr .font-small {
  font-size: small;
}
body input[type=text], h1 input[type=text], h2 input[type=text], h3 input[type=text], h4 input[type=text], h5 input[type=text], h6 input[type=text], article input[type=text], aside input[type=text], details input[type=text], figcaption input[type=text], figure input[type=text], footer input[type=text], header input[type=text], menu input[type=text], nav input[type=text], section input[type=text], summary input[type=text], blockquote input[type=text], q input[type=text], th input[type=text], td input[type=text], caption input[type=text], table input[type=text],
div input[type=text], span input[type=text], object input[type=text], iframe input[type=text], p input[type=text], button input[type=text],
pre input[type=text], a input[type=text], abbr input[type=text], acronym input[type=text], address input[type=text],
code input[type=text], del input[type=text], dfn input[type=text], em input[type=text], img input[type=text],
dl input[type=text], dt input[type=text], dd input[type=text], ol input[type=text], ul input[type=text], li input[type=text], fieldset input[type=text],
form input[type=text], label input[type=text], legend input[type=text], input input[type=text], select input[type=text], textarea
caption input[type=text], tbody input[type=text], tfoot input[type=text], thead input[type=text], tr input[type=text] {
  font-size: small;
  height: 30px;
  padding: 10px;
}
body ::-webkit-input-placeholder, h1 ::-webkit-input-placeholder, h2 ::-webkit-input-placeholder, h3 ::-webkit-input-placeholder, h4 ::-webkit-input-placeholder, h5 ::-webkit-input-placeholder, h6 ::-webkit-input-placeholder, article ::-webkit-input-placeholder, aside ::-webkit-input-placeholder, details ::-webkit-input-placeholder, figcaption ::-webkit-input-placeholder, figure ::-webkit-input-placeholder, footer ::-webkit-input-placeholder, header ::-webkit-input-placeholder, menu ::-webkit-input-placeholder, nav ::-webkit-input-placeholder, section ::-webkit-input-placeholder, summary ::-webkit-input-placeholder, blockquote ::-webkit-input-placeholder, q ::-webkit-input-placeholder, th ::-webkit-input-placeholder, td ::-webkit-input-placeholder, caption ::-webkit-input-placeholder, table ::-webkit-input-placeholder,
div ::-webkit-input-placeholder, span ::-webkit-input-placeholder, object ::-webkit-input-placeholder, iframe ::-webkit-input-placeholder, p ::-webkit-input-placeholder, button ::-webkit-input-placeholder,
pre ::-webkit-input-placeholder, a ::-webkit-input-placeholder, abbr ::-webkit-input-placeholder, acronym ::-webkit-input-placeholder, address ::-webkit-input-placeholder,
code ::-webkit-input-placeholder, del ::-webkit-input-placeholder, dfn ::-webkit-input-placeholder, em ::-webkit-input-placeholder, img ::-webkit-input-placeholder,
dl ::-webkit-input-placeholder, dt ::-webkit-input-placeholder, dd ::-webkit-input-placeholder, ol ::-webkit-input-placeholder, ul ::-webkit-input-placeholder, li ::-webkit-input-placeholder, fieldset ::-webkit-input-placeholder,
form ::-webkit-input-placeholder, label ::-webkit-input-placeholder, legend ::-webkit-input-placeholder, input ::-webkit-input-placeholder, select ::-webkit-input-placeholder, textarea
caption ::-webkit-input-placeholder, tbody ::-webkit-input-placeholder, tfoot ::-webkit-input-placeholder, thead ::-webkit-input-placeholder, tr ::-webkit-input-placeholder {
  text-align: center;
}
body :-moz-placeholder, h1 :-moz-placeholder, h2 :-moz-placeholder, h3 :-moz-placeholder, h4 :-moz-placeholder, h5 :-moz-placeholder, h6 :-moz-placeholder, article :-moz-placeholder, aside :-moz-placeholder, details :-moz-placeholder, figcaption :-moz-placeholder, figure :-moz-placeholder, footer :-moz-placeholder, header :-moz-placeholder, menu :-moz-placeholder, nav :-moz-placeholder, section :-moz-placeholder, summary :-moz-placeholder, blockquote :-moz-placeholder, q :-moz-placeholder, th :-moz-placeholder, td :-moz-placeholder, caption :-moz-placeholder, table :-moz-placeholder,
div :-moz-placeholder, span :-moz-placeholder, object :-moz-placeholder, iframe :-moz-placeholder, p :-moz-placeholder, button :-moz-placeholder,
pre :-moz-placeholder, a :-moz-placeholder, abbr :-moz-placeholder, acronym :-moz-placeholder, address :-moz-placeholder,
code :-moz-placeholder, del :-moz-placeholder, dfn :-moz-placeholder, em :-moz-placeholder, img :-moz-placeholder,
dl :-moz-placeholder, dt :-moz-placeholder, dd :-moz-placeholder, ol :-moz-placeholder, ul :-moz-placeholder, li :-moz-placeholder, fieldset :-moz-placeholder,
form :-moz-placeholder, label :-moz-placeholder, legend :-moz-placeholder, input :-moz-placeholder, select :-moz-placeholder, textarea
caption :-moz-placeholder, tbody :-moz-placeholder, tfoot :-moz-placeholder, thead :-moz-placeholder, tr :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
body ::-moz-placeholder, h1 ::-moz-placeholder, h2 ::-moz-placeholder, h3 ::-moz-placeholder, h4 ::-moz-placeholder, h5 ::-moz-placeholder, h6 ::-moz-placeholder, article ::-moz-placeholder, aside ::-moz-placeholder, details ::-moz-placeholder, figcaption ::-moz-placeholder, figure ::-moz-placeholder, footer ::-moz-placeholder, header ::-moz-placeholder, menu ::-moz-placeholder, nav ::-moz-placeholder, section ::-moz-placeholder, summary ::-moz-placeholder, blockquote ::-moz-placeholder, q ::-moz-placeholder, th ::-moz-placeholder, td ::-moz-placeholder, caption ::-moz-placeholder, table ::-moz-placeholder,
div ::-moz-placeholder, span ::-moz-placeholder, object ::-moz-placeholder, iframe ::-moz-placeholder, p ::-moz-placeholder, button ::-moz-placeholder,
pre ::-moz-placeholder, a ::-moz-placeholder, abbr ::-moz-placeholder, acronym ::-moz-placeholder, address ::-moz-placeholder,
code ::-moz-placeholder, del ::-moz-placeholder, dfn ::-moz-placeholder, em ::-moz-placeholder, img ::-moz-placeholder,
dl ::-moz-placeholder, dt ::-moz-placeholder, dd ::-moz-placeholder, ol ::-moz-placeholder, ul ::-moz-placeholder, li ::-moz-placeholder, fieldset ::-moz-placeholder,
form ::-moz-placeholder, label ::-moz-placeholder, legend ::-moz-placeholder, input ::-moz-placeholder, select ::-moz-placeholder, textarea
caption ::-moz-placeholder, tbody ::-moz-placeholder, tfoot ::-moz-placeholder, thead ::-moz-placeholder, tr ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
body :-ms-input-placeholder, h1 :-ms-input-placeholder, h2 :-ms-input-placeholder, h3 :-ms-input-placeholder, h4 :-ms-input-placeholder, h5 :-ms-input-placeholder, h6 :-ms-input-placeholder, article :-ms-input-placeholder, aside :-ms-input-placeholder, details :-ms-input-placeholder, figcaption :-ms-input-placeholder, figure :-ms-input-placeholder, footer :-ms-input-placeholder, header :-ms-input-placeholder, menu :-ms-input-placeholder, nav :-ms-input-placeholder, section :-ms-input-placeholder, summary :-ms-input-placeholder, blockquote :-ms-input-placeholder, q :-ms-input-placeholder, th :-ms-input-placeholder, td :-ms-input-placeholder, caption :-ms-input-placeholder, table :-ms-input-placeholder,
div :-ms-input-placeholder, span :-ms-input-placeholder, object :-ms-input-placeholder, iframe :-ms-input-placeholder, p :-ms-input-placeholder, button :-ms-input-placeholder,
pre :-ms-input-placeholder, a :-ms-input-placeholder, abbr :-ms-input-placeholder, acronym :-ms-input-placeholder, address :-ms-input-placeholder,
code :-ms-input-placeholder, del :-ms-input-placeholder, dfn :-ms-input-placeholder, em :-ms-input-placeholder, img :-ms-input-placeholder,
dl :-ms-input-placeholder, dt :-ms-input-placeholder, dd :-ms-input-placeholder, ol :-ms-input-placeholder, ul :-ms-input-placeholder, li :-ms-input-placeholder, fieldset :-ms-input-placeholder,
form :-ms-input-placeholder, label :-ms-input-placeholder, legend :-ms-input-placeholder, input :-ms-input-placeholder, select :-ms-input-placeholder, textarea
caption :-ms-input-placeholder, tbody :-ms-input-placeholder, tfoot :-ms-input-placeholder, thead :-ms-input-placeholder, tr :-ms-input-placeholder {
  text-align: center;
}
body textarea, h1 textarea, h2 textarea, h3 textarea, h4 textarea, h5 textarea, h6 textarea, article textarea, aside textarea, details textarea, figcaption textarea, figure textarea, footer textarea, header textarea, menu textarea, nav textarea, section textarea, summary textarea, blockquote textarea, q textarea, th textarea, td textarea, caption textarea, table textarea,
div textarea, span textarea, object textarea, iframe textarea, p textarea, button textarea,
pre textarea, a textarea, abbr textarea, acronym textarea, address textarea,
code textarea, del textarea, dfn textarea, em textarea, img textarea,
dl textarea, dt textarea, dd textarea, ol textarea, ul textarea, li textarea, fieldset textarea,
form textarea, label textarea, legend textarea, input textarea, select textarea, textarea
caption textarea, tbody textarea, tfoot textarea, thead textarea, tr textarea {
  resize: none;
  word-wrap: break-word;
  transition: 0.05s;
  -moz-transition: 0.05s;
  -webkit-transition: 0.05s;
  -o-transition: 0.05s;
}
body .highlight, h1 .highlight, h2 .highlight, h3 .highlight, h4 .highlight, h5 .highlight, h6 .highlight, article .highlight, aside .highlight, details .highlight, figcaption .highlight, figure .highlight, footer .highlight, header .highlight, menu .highlight, nav .highlight, section .highlight, summary .highlight, blockquote .highlight, q .highlight, th .highlight, td .highlight, caption .highlight, table .highlight,
div .highlight, span .highlight, object .highlight, iframe .highlight, p .highlight, button .highlight,
pre .highlight, a .highlight, abbr .highlight, acronym .highlight, address .highlight,
code .highlight, del .highlight, dfn .highlight, em .highlight, img .highlight,
dl .highlight, dt .highlight, dd .highlight, ol .highlight, ul .highlight, li .highlight, fieldset .highlight,
form .highlight, label .highlight, legend .highlight, input .highlight, select .highlight, textarea
caption .highlight, tbody .highlight, tfoot .highlight, thead .highlight, tr .highlight {
  font-size: large;
  color: yellow;
}

.nav-tabs.nav-justified > li > a {
  border-bottom: 0;
  border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0 !important;
  color: #3CB878;
  text-decoration: underline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.modal-footer {
  text-align: center;
}

md-tab-content.md-no-scroll {
  bottom: 0;
  overflow: hidden;
}

.monitor {
  margin-top: 10px;
  /*
  .nav-tabs.nav-justified > li {
    background-color: $gray01;
  }
  */
}
.monitor .context {
  margin-top: 15px;
}
.monitor .context .limit {
  width: 80px;
}
.monitor .context .search {
  width: 400px;
}
.monitor .context .local {
  width: 350px;
}
.monitor .context .client {
  width: 350px;
}
.monitor .context .locale {
  width: 200px;
}
.monitor .form-group button {
  margin-top: 5px;
}
.monitor .form-group input {
  border-radius: 0;
}
.monitor .context .logs {
  padding: 10px;
  overflow-y: scroll;
  background-color: black;
  color: white;
}
.monitor textarea {
  height: 300px;
  width: 800px;
  font-size: small;
}

.bgcolor-green-01 {
  background-color: #3CB878 !important;
}

.textcolor-white-01 {
  color: #ECF0F1 !important;
}

.textcolor-green-01 {
  color: #3CB878 !important;
}

.tools {
  margin-top: 0;
}
.tools div {
  margin-top: 10px;
}

.main-navigation {
  height: 100%;
}
.main-navigation .content-ui-router-view {
  margin-top: 75px;
  margin-bottom: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.main-navigation md-toolbar {
  background-color: #b31217;
}
.main-navigation md-toolbar .title {
  color: #ECF0F1;
}
.main-navigation md-sidenav md-toolbar .title {
  margin: auto;
}
.main-navigation md-content i {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: auto;
  font-size: 30px;
}
.main-navigation md-content md-toolbar {
  position: fixed;
}
.main-navigation md-content md-toolbar div {
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 0;
}
.main-navigation md-content md-toolbar .title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: auto;
}
.main-navigation .md-title {
  margin: auto;
}
.main-navigation .layout-padding, .main-navigation .layout-padding-gt-sm, .main-navigation .layout-padding-md, .main-navigation .layout-padding > *, .main-navigation .layout-padding-gt-sm > *, .main-navigation .layout-padding-md > *, .main-navigation .layout-padding > .flex, .main-navigation .layout-padding > .flex-gt-sm, .main-navigation .layout-padding > .flex-md {
  padding: 0px;
}
.main-navigation .md-tab {
  text-transform: none;
}
.main-navigation md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content {
  background-color: #fafafa;
}
.main-navigation .list-inline {
  padding-top: 10px;
}
.main-navigation .swagger-ui .api-version {
  visibility: hidden;
}
